{% extends '_base.html.twig' %}
{% block pageTitle %}home page{% endblock %}

{% block body %}
    <h1>Welcome to Recipt Website</h1>
    <ul>
        <li>
            <a href="{{ path('tag_list') }}">Tags List</a>
        </li>
        <li>
            <a href="{{ path('recipe_list') }}">Recipes published</a>
        </li>

    </ul>
{% endblock %}