{% extends '_base.html.twig' %}
{% block pageTitle %}home page{% endblock %}

{% block body %}
    <h1>Welcome to home page</h1>
    <ul>
        <li>
            <a href="{{ path('homepage') }}">back to home page</a>
        </li>
        <li>
            <a href="{{ path('tags_list') }}">List of Tags</a>
        </li>
        <li>
            <a href="{{ path('recipe_index') }}">List of Recipes</a>
        </li>
    </ul>
{% endblock %}