{% extends '_base.html.twig' %}
{% block pageTitle %}profile page{% endblock %}

{% block body %}
    <h1>Welcom to your account</h1>
    <ul>
        <li>
            <a href="{{ path('tag_index') }}">Tags list</a>
        </li>
        <li>
            <a href="{{ path('recipe_index') }}">Recipes list(public)</a>
        </li>
        <li>
            <a href="{{ path('recipes_basket_index') }}">Collections of recipes(private)</a>
        </li>
    </ul>

{% endblock %}