{% extends '_base.html.twig' %}
{% block pageTitle %}profile page{% endblock %}

{% block body %}
    <h1>Welcom to your account</h1>
    <ul>
        <li>
            <a href="{{ path('tags_list') }}">Tags</a>
        </li>
        <li>
            <a href="{{ path('recipe_list') }}">Recipes</a>
        </li>
        <li>
            <a href="{{ path('recipes_basket_index') }}">Baskets</a>
        </li>
    </ul>
{% endblock %}