{% extends '_base.html.twig' %}
{% block pageTitle %}admin page{% endblock %}
{% block body %}
    <h1>Welcome to ADMIN home page</h1>
    <p>
        Welcom to the <strong>secure</strong> admin home page
    </p>
{% endblock %}