{% extends '_base.html.twig' %}
{% block pageTitle %}list of tags{% endblock %}
{% block body %}
    <ul>
        {% for tag in tags %}
            <li>
                id: {{ tag.id }}
                <br>
                name: {{ tag.name }}
                <br>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <li>
        <a href="{{ path('homepage') }}">back to home page</a>
    </li>
{% endblock %}
