{% extends '_base.html.twig' %}
{% block pageTitle %}show one tag{% endblock %}
{% block body %}
<h1>Show one tag</h1>
<p>
    id = {{ tag.id }}
</p>
<p>
    name = {{ tag.name }}
</p>
<hr>
<a href="{{ path('tags_list') }}">list of tags</a>
{% endblock %}