{% extends '_base.html.twig' %}

{% block body %}
    <h1>Comments list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <p>
        <a href="{{ path('homepage') }}">Back to home page</a>
    </p>

{% endblock %}
