{% extends '_base.html.twig' %}
{% block pageTitle %}show one student{% endblock %}
{% block body %}
<h1>Show one student</h1>
<p>
    id = {{ student.id }}
</p>
<p>
    name = {{ student.name }}
</p>
<hr>

    <ul>
        <li>
            <a href="{{ path("students_list") }}">back to list</a>
        </li>
    </ul>

{% endblock %}